<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <p *ngIf="chores.length > finishedChores.length" style="color: blue">Work Harder!</p>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
</div>
<img src="https://www.launchcode.org/assets/icons/trophy-95e8cbe9bfda44123422302951deb1c92a237d39052669b8fbfafec00cb4f608.png" *ngIf="chores.length === 0 || finishedChores.length > chores.length + 3; else noAllowance">
<ng-template #noAllowance>
    <p>No allowance yet.</p>
</ng-template>
<hr>
<h1 *ngIf="finishedChores.length >= 4 && chores.length === 0; else noTreat" style="color:green">Ice cream treat!</h1>
<ng-template #noTreat>
    <h3 style="color:green">To earn an ice cream treat:</h3>
    <p style="color:green">The chores list must be empty.</p>
    <p style="color:green">The Done list must have at least 4 items.</p>
</ng-template>